@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("grid.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
h1 {
  font-family: "Manrope", sans-serif;
  font-size: clamp(3.25rem, 5vw + 1rem, 7.5rem);
  line-height: 112%;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}
@media (max-width: 1024px) {
  h1 {
    line-height: 100%;
  }
}

h2 {
  font-family: "Manrope", sans-serif;
  font-size: clamp(2rem, 3vw + 1rem, 4.5rem);
  line-height: 112%;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.625rem);
  line-height: 124%;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}
@media (max-width: 1024px) {
  h3 {
    font-weight: 500;
  }
}

p {
  font-family: "Manrope", sans-serif;
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  line-height: 160%;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}
@media (max-width: 1024px) {
  p {
    line-height: 136%;
  }
}

body {
  background: #272A2F;
}

.nav-font {
  font-family: "Manrope", sans-serif;
  font-size: 1.125rem;
  line-height: 100%;
  font-weight: 500;
  color: #C8C8C8;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.nav-font:hover {
  opacity: 0.8;
}

.nav-font:active {
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .nav-font,
  .button {
    font-size: 1rem !important;
    font-weight: 600;
  }
  .button {
    font-weight: 700 !important;
  }
}
.button {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  line-height: 100%;
  font-weight: 700;
  color: #4C0000;
  margin: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  gap: 3rem;
  background-color: transparent;
  border: none;
  position: relative;
  transition: color 0.4s ease, border 0.4s ease, background-color 0.4s ease;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #E45B5B;
  z-index: -2;
}

.button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: #4C0000;
  transition: height 0.4s ease;
  z-index: -1;
}

.button:hover::after {
  height: 100%;
}

.button:hover {
  color: #E45B5B;
}

.button svg path {
  stroke: currentColor;
}

.button:active {
  background-color: rgba(0, 0, 0, 0.1450980392);
}

@media (max-width: 1024px) {
  .button {
    padding: 1rem;
  }
  .button svg {
    scale: 0.68;
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;
  transition: color 0.3s ease;
  max-width: 100vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(35, 38, 42, 0.8);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

.desktop-nav_flex {
  display: flex;
  flex-direction: row;
  padding: 1.75rem 0;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .desktop-nav_flex {
    padding: 1.125rem 0;
  }
}
.desktop-nav_logo {
  display: flex;
  height: 100%;
  align-items: center;
}
@media (max-width: 1024px) {
  .desktop-nav_logo {
    scale: 0.92;
  }
}
.desktop-nav_header {
  /* Бургер‑иконка */
  /* Анимация бургер-меню в крестик */
}
.desktop-nav_header .nav_burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin-left: 1rem;
  background: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
  width: 32px;
  height: 24px;
  padding: 0;
  z-index: 1000;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.desktop-nav_header .nav_burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
.desktop-nav_header .nav_burger.open span:nth-child(2) {
  opacity: 0;
}
.desktop-nav_header .nav_burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px);
}
.desktop-nav_header .nav_burger span:nth-child(3) {
  margin: 0 !important;
}
.desktop-nav_header .nav_burger.open span {
  margin: 0;
}
.desktop-nav_header .nav_burger span {
  display: block;
  height: 3px;
  border: 5px solid white;
  transition: 0.24s ease;
  margin-bottom: 7px !important;
}
.desktop-nav_header .mobile-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}
.desktop-nav_navs-list {
  display: flex;
  margin-right: 128px;
}
.desktop-nav_navs-list li {
  padding-right: 3.25rem;
}
.desktop-nav_navs-list li:last-of-type {
  padding: 0;
}
.desktop-nav_navs-group {
  display: flex;
  align-items: center;
}
.desktop-nav_navs-icon {
  display: flex;
  transition: opacity 0.4s ease-in-out;
}
.desktop-nav_navs-icon :hover {
  opacity: 0.8;
}
.desktop-nav_navs-icon :active {
  opacity: 0.6;
}
.desktop-nav_navs-icon .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
}
.desktop-nav_navs-icon .icon:first-of-type {
  margin-right: 12px;
}

.mobile-fullscreen-menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-items: start;
  /* Анимация открытия */
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.25s ease-out, transform 0.25s ease-out;
  pointer-events: none;
  visibility: hidden;
  background: rgba(35, 38, 42, 0.5);
  -webkit-backdrop-filter: blur(22.5px);
  backdrop-filter: blur(22.5px);
  overflow: hidden auto;
  height: 100vh;
  width: 100%;
}

.mobile-fullscreen-menu .button {
  justify-content: space-between !important;
}

.mobile-fullscreen-menu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
}

.mobile-fullscreen-menu.no-transition {
  transition: none !important;
}

.mobile-fullscreen-menu_group-links {
  margin: 84px 0 84px 0;
}

.mobile-fullscreen-menu_links {
  list-style: none;
  margin: 0;
  text-align: left;
  width: 100%;
}

.mobile-fullscreen-menu_links .nav-btn {
  padding: 20px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0823529412);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.4s ease;
  background: transparent;
}

.mobile-fullscreen-menu_links .nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.062745098);
}

.mobile-fullscreen-menu_links .nav-btn:active {
  background-color: rgba(255, 255, 255, 0.1450980392);
}

.mobile-fullscreen-menu_links .nav-btn:last-of-type {
  border: none;
}

.mobile-fullscreen-menu_links a {
  font-size: 20px;
  text-decoration: none;
}

.mobile-fullscreen-menu__button {
  margin-top: 40px;
}

@media (max-width: 1444px) {
  .desktop-nav_navs-list {
    margin-right: 52px;
  }
  .desktop-nav_navs-list li {
    padding-right: 32px;
  }
}
@media (max-width: 1132px) {
  .desktop-nav_navs-list li {
    padding-right: 24px;
  }
}
@media (max-width: 1132px) {
  .desktop-nav_navs-list li:last-of-type {
    display: none;
  }
}
@media (max-width: 1024px) {
  .desktop-nav_navs-list {
    display: none;
  }
  .desktop-nav_navs-icon {
    display: none;
  }
  .nav_burger {
    display: block !important;
  }
}/*# sourceMappingURL=style.css.map */