//Импорты
//Сброс CSS
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
//Подключение mixin
@import url("mixin.css");
//Подключение grid
@import url("grid.css");
// Подключаем шрифт
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

//Переменные:

$font-family: "Manrope", sans-serif;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);

$color-bg: #272a2f;
$color-gray: #c8c8c8;
$color-white: #ffffff;
$color-accent: #e45b5b;
$color-accent-text: #4c0000;
$color-accent-bg: #753536;
$color-cert-badge: #969696;
$color-gray-bg: #3D3F44;
$color-dark-gray-bg: #4E5054;

$bp-xxl: 1440px;
$bp-xl: 1280px;
$bp-lg: 1024px;
$bp-md: 768px;
$bp-sm: 480px;

// Миксины
@mixin text-style($size, $line-height, $weight, $color: $color-white) {
  font-family: $font-family;
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;
  margin: 0;
}

@mixin transition($props: all, $duration: 0.3s, $easing: ease) {
  $transition: ();
  
  @each $prop in $props {
    $transition: append($transition, $prop $duration $easing, comma);
  }

  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

// Базовые стили

body {
  background: $color-bg;
  font-family: $font-family;
}

img {
    display: block !important;
    width: 100%;
}

.red-text {
  color: $color-accent;
}

// Типография
.font-large {
  @include text-style(clamp(2.25rem, 5vw + 1rem, 7.5rem), 112%, 700);
}

.font-medium {
  @include text-style(clamp(2rem, 3vw + 1rem, 4.5rem), 112%, 700);
}

.font-title {
  @include text-style(clamp(1.5rem, 2vw + 1rem, 2.5rem), 124%, 700);
}

.font-large, .font-medium, .font-title {
  text-transform: uppercase;
}

.font-main, p {
  @include text-style(clamp(1rem, 1.25vw, 1.25rem), 160%, 400);
  
  @media (max-width: $bp-lg) {
    line-height: 148%;
  }
}

// Компоненты

//Кнопки навигации
.nav {
  &-font {
    @include text-style(1.125rem, 100%, 500, $color-gray);
    text-transform: uppercase;
    text-decoration: none;
    @include transition(opacity);

    @media (max-width: $bp-lg) {
      font-size: 1rem !important;
      font-weight: 700;
    }
  }
    
  &:hover {
    opacity: 0.8;
  }
  
  &:active {
    opacity: 0.6;
  }
}

// Кнопка
.button {
  @include text-style(clamp(1rem, -0.1179rem + 1.7467vw, 1.5rem), 100%, 700, $color-accent-text);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: clamp(1rem, 0.25rem + 0.7813vw, 1.5rem) clamp(0.75rem, 0.25rem + 0.7813vw, 1.5rem);
  gap: 3rem;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  @include transition(opacity);
  width: fit-content;

  &__text {
    @include transition(color);
  }

  &__text, svg {
    position: relative;
    z-index: 3;
  }
  
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  &::before {
    background-color: $color-accent;
    z-index: 1;
  }
  
  &::after {
    height: 0;
    background-color: $color-accent-text;
    @include transition(height);
  }
  
  &:hover {
    color: $color-accent;
    @include transition(background-color);
    
    &::after {
      height: 100%;
    }
  }
  
  &:active {
    opacity: 0.8;
  }
  
  svg{

    height: clamp(1rem, -0.1179rem + 1.7467vw, 1.5rem);

    path {
      stroke: currentColor;
    }
  }
  @media (max-width: $bp-lg) {
    font-weight: 700 !important;
  }
  
  @media(max-width: 582px) {
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
  }

  &-2 {

    color: $color-white;

    &::before {
      background: transparent;
      border: 1px solid $color-white;
    }

    &::after {
      background-color: $color-white;
    }

    &:hover {
      color: $color-bg;
    }
  }
}
// Шапка
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 40;
  max-width: 100vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(35, 38, 42, 0.8);
  backdrop-filter: blur(50px);
  @include transition(color);
  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    
    @media (max-width: $bp-lg) {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }
  }
  
  &__logo {
    display: flex;
    align-items: center;
    z-index: 50;
    
    @media (max-width: $bp-lg) {
      transform: scale(0.92);
    }
  }
  
  &__nav {
    display: flex;
    align-items: center;
    
    .nav-font, .icon {
      &:hover {
        opacity: 0.6;
      }
      
      &:active {
        opacity: 0.4;
      }
    }

    &-list {
      display: flex;
      margin-right: 128px;
      
      li {
        padding-right: 3.25rem;
        
        &:last-child {
          padding-right: 0;
        }
      }
      
      @media (max-width: 1444px) {
        margin-right: 52px;
        
        li {
          padding-right: 32px;
        }
      }
      
      @media (max-width: 1132px) {
        li {
          padding-right: 24px;
          
          &:last-child {
            display: none;
          }
        }
      }
      
      @media (max-width: $bp-lg) {
        display: none;
      }
    }
    
    &-icons {
      display: flex;
      
      a {
        @include transition(opacity);
        
        &.icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 42px;
          height: 42px;
          
          &:first-child {
            margin-right: 12px;
          }
        }
      }

      @media (max-width: $bp-lg) {
        display: none;
      }
    }
  }
  
  &__burger {
    display: none;
    flex-direction: column;
    gap: 7px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 9999;
    
    span {
      display: block;
      width: 32px;
      height: 2px;
      background-color: rgb(108, 117, 123);
      @include transition;
      z-index: 9999;
    }
    
    &.open {
      span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
      }
      
      span:nth-child(2) {
        opacity: 0;
      }
      
      span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
    
    @media (max-width: $bp-lg) {
      display: flex;
    }
  }
}

// Мобильное меню
.mobile-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: env(safe-area-inset-top);
  bottom: env(safe-area-inset-bottom);
  width: 100%;
  max-height: calc(100vh - env(safe-area-inset-bottom));
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  background: rgba(35, 38, 42, 0.68);
  backdrop-filter: blur(22.5px);
  overflow: hidden auto;
  @include transition((opacity, visibility, transform), 0.2s, ease-out);
  
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  &__content {
    margin-top: 84px;
    width: 100%;
    padding-bottom: 32px; 
  }
  
  &__list {
    list-style: none;
    margin: 0 0 32px 0;
    padding: 0;
    
    &-item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      @include transition(background-color);
      
      &:last-child {
        border-bottom: none;
      }
      
      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }
      
      &:active {
        background-color: rgba(255, 255, 255, 0.15);
      }

      a {
        display: block;
        padding: 1.25rem;
      }
    }
  }
  
  .button {
    justify-content: space-between !important;
    padding: 1.25rem;
  }

  .lines {
    min-height: 498px;
    .line:nth-of-type(3) {
      display: none;
    }
  }
}

// Блок hero
.hero {  
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    align-items: center;

    @media (max-width: $bp-lg) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 48px;

    @media(max-width: $bp-lg) {
      margin-bottom: 12px;
    }
  }

  &__badges {
    display: flex;
    @media (max-width: 500px) {
      gap: 24px;
    }
  }

  .cert-badge {
    border-radius: 8px;
    padding-top: 24px;
    flex: 1;

    &__icon {
      svg {
        color: $color-cert-badge;
        height: clamp(24px, 2.5vw + 18px, 34px); // Высота от 24px до 34px
      }
    }
    
    &__number {
      @include text-style(clamp(.65rem, 1.5vw, .75rem), 124%, 500, $color-cert-badge);
    }
  }

  &__title {
    display: block;
    
    @media (max-width: $bp-lg) {
      font-weight: 500;
    }
    
    &-line {
      display: block;

      &:nth-child(2) {
        @include text-style(clamp(1.5rem, 1.8vw + 1rem, 3rem), 112%, 500, $color-gray);
        margin-top: 16px;
      }
    }
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
  }

  &__audiences {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    .audience-chip {
      padding: clamp(.5rem, 1vw, .75rem) clamp(.5rem, 1vw, 1.125rem);
      @include text-style(clamp(0.75rem, 0.4091rem + 1.0909vw, 1.5rem), 112%, 400, $color-white);
      background: $color-accent-bg;
      
      @media (max-width: 350px) {
        padding: 6px 4px;
      }
    }

    @media (max-width: 350px) {
      gap: 4px;
    }
  }
  &__image {
    img {
      object-fit: cover;
      height: 100%;
    }
  }
}

.intro, .modules, .advantages, .demo, .distributors {
  &__content {
    padding: clamp(1.5rem, 0.85rem + 2.7735vw, 2.625rem);
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid var(--line-style);
    background: $color-bg;
  
    @media (max-width: $bp-lg) {
      border-top: none;
    }
  }
  &__image {
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      object-position: bottom;
    }
    @media (max-width: $bp-lg){
      max-height: clamp(15.75rem, 11.1275rem + 19.7227vw, 23.75rem);
    }
  }
}

.modules, .advantages, .distributors {
  display: flex;
  flex-direction: column;
  gap: calc(12rem - clamp(4rem, 10.6667rem + -4.1667vw, 8rem));

  &__content {
    gap: 48px;

    @media (max-width: $bp-lg) {
      order: 2;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__tag {
    padding: 4px 8px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.25);
  }
}

.modules {
    &__image {
    height: 600px;
  }
}

.advantages {

  &__content {
    justify-content: space-between;
    gap: 24px;
    position: relative;
    
  }

  &__element {
    display: flex;
    gap: 24px;
    flex-direction: column;
    z-index: 1;
  }

  &__image img {
    object-position: top;
    @media (max-width: 482px) {
      height: 132%;
    }
  }

  &__container:nth-child(2) &__content:first-of-type {
      background-color: $color-accent-bg;
      min-height: 462px;
      @media (max-width: $bp-lg) {
        min-height: 332px;
      }
  }

  &__container:nth-child(2) &__content:last-of-type {
      background-color: $color-gray-bg;
      min-height: 462px;
      @media (max-width: $bp-lg) {
        min-height: 332px;
      }
  }

  &__icon {
    text-align: end;
    color: $color-gray;
    opacity: 0.4;

    @media (max-width: $bp-lg) {
      svg {
        width: 64px;
        height: 64px;
      }
    }
  }

  &__bg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.2;
    overflow: hidden;
    bottom: 0;
    max-height: 70%;
    
    img {
      object-fit: cover;
    }
  }
}

.distributors {

  &__content {
    border: 1px solid var(--line-style);
  }

  &__contact {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      padding: 8px 12px;
      font-weight: 700;
      text-transform: uppercase;
      
      &:first-child {
        color: $color-accent-text;
        background-color: $color-accent;
      }

      &:last-child {
        color: $color-white;
        background-color: $color-dark-gray-bg;
        font-weight: 500;
      }
    }
  }

  &__locations {
    display: flex;
    gap: 12px 24px;
    flex-wrap: wrap;

    a {
      text-decoration: none;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__content {
    gap: 32px;
  }
}

.footer {
  gap: 32px 0;
  padding-bottom: 24px;

  a {
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: $color-white;
    font-style: normal;
    align-items: center;
  }

  &__fullwidth {
    grid-column: 1 / -1;
    opacity: 0.5;

    p {
      grid-column: span 4;

      &:first-child {
        grid-column-start: span 4;
      }

      &:last-child {
        grid-column-end: 17;
      }
    }

    @media(max-width: $bp-lg) {
      display: flex;
      flex-direction: column;
      gap: 8px;
      grid-column-end: span 4;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__list, &__address{
    display: flex;
    flex-direction: column;
    gap: 12px;  
  }

  &__heading {
    font-size: clamp(1.5rem, 1.2111rem + 1.2327vw, 2rem);
    opacity: 0.5;
  }

  &__copyright {
    display: block;
    font-size: 1.5rem;
    opacity: 0.5;
    line-height: 112%;
    
    @media (max-width: $bp-lg) {
      & {
        font-size: 1rem;
      }

      &:first-child {
        display: none;
      }
    }
  }

  @media (max-width: $bp-lg) {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 78px;
  }  
}

.swiper {
  &-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &-slide {
    overflow: hidden;

    .card {
      background: $color-bg;
      border: 1px solid #ffffff20;
    }

    .news-card {
      &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 24px;

        time {
          opacity: 0.5;
        }

        .news-title {
          font-size: clamp(1.5rem, 1.3713rem + 0.5492vw, 2.25rem);
        }
      }
    }
  }

  &-button-prev, 
  &-button-next {
    color: #333;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.8);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  &-pagination {
    position: relative;
    margin-top: 20px;
  }

  &-slide {
    opacity: 0.3;
    transition: opacity 0.3s !important;
    -webkit-transition: opacity 0.3s !important;
    -moz-transition: opacity 0.3s !important;
    -ms-transition: opacity 0.3s !important;
    -o-transition: opacity 0.3s !important;
}

  &-header, &-nav{
    display: flex;
  }

  &-nav {
    gap: clamp(0rem, -0.2574rem + 1.0984vw, 1.5rem);
    height: clamp(3.25rem, 2.2321rem + 2.1205vw, 5.625rem);

    @media(max-width: 342px) {
      display: none;
    }
  }

  &-header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: clamp(1.5rem, 1.2426rem + 1.0984vw, 3rem);
  }

  &-slide-active,
  &-slide-next,
  &-slide-prev {
    opacity: 1;
  }

  &-button-prev, &-button-next {
    position: unset !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    background: none;
  }

  &-button-prev::after, &-button-next::after {
    display: none;
  }
}

.news-card {
  
  &__image {
    padding: 24px 24px 0 24px;

    @media (max-width: $bp-lg) {
      padding: 0;
    }
  }
  
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    height: clamp(10rem, 8.0478rem + 8.3295vw, 21.375rem);

    @media (max-width: $bp-lg) {
      height: ;
    }
  }
}