//Переменные с исходника
:root {
    --gutter-h: calc(50vw - 60rem);
    --block-spacing: 7rem;
    --new-block-spacing: 8rem;
    --default-border-width: 2px;
    --trans-default: 150ms;
    --column: calc((100vw - (var(--gutter-h) * 2)) / 16);
    --line-style: rgba(255, 255, 255, 0.1);
}

@media (max-width: 2168px) {
    :root {
        --gutter-h: 10rem;
    }
}

@media (max-width: 1600px) {
    :root {
        --base: 16px;
        --gutter-h: 4rem;
        --block-spacing: 5rem;
        --new-block-spacing: 6rem;
        --header-height: 76px;
    }
}

@media (max-width: 1170px) {
    :root {
        --header-height: 66px;
    }
}

@media (max-width: 1024px) {
    :root {
        --gutter-h: 2rem;
        --block-spacing: 3.5rem;
        --new-block-spacing: 4rem;
        --page-padding-top: var(--header-height);
    }
}

@media (max-width: 768px) {
    :root {
        --block-spacing: 2rem;
        --gutter-h: 1rem;
    }
}

.w100 {
    width: 100% !important;
}

.gb {
    padding-bottom: clamp(7rem, 6.292rem + 3.0206vw, 11.125rem);
}

.gt {
    padding-top: clamp(7rem, 6.292rem + 3.0206vw, 11.125rem);
}

// Сетка

.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 0;
    position: relative;
}

.gutter {
    padding-right: var(--gutter-h);
    padding-left: var(--gutter-h);
}

.line:first-of-type {
    grid-area: 1/1/1/1;
}

.line:nth-of-type(2) {
    grid-area: 1/5/1/9;
}

@media (max-width: 768px) {
    .line:nth-of-type(3) {
        display: none;
    }
}

.line:nth-of-type(3) {
    grid-area: 1/9/1/13;
}

@media (max-width: 1024px) {
    .line:nth-of-type(2) {
        display: none;
    }
}

.line:nth-of-type(4) {
    grid-area: 1/13/1/17;
}

@media (max-width: 1024px) {
    .line:nth-of-type(4) {
        display: none;
    }
}

.line:nth-of-type(5) {
    grid-area: 1/17/1/17;
}

@media (max-width: 1600px) {
    .grid {
        grid-template-columns: repeat(16, 1fr);
    }
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 400px) {
    .grid {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 1920px) {
    $gutter-h: 8rem;
}

@media (max-width: 1600px) {
    $gutter-h: 4rem;
}

@media (max-width: 1024px) {
    $gutter-h: 2rem;
}

@media (max-width: 768px) {
    $gutter-h: 1rem;
}

.lines {
    min-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(var(--gutter-h));
    width: calc(100% - var(--gutter-h) * 2);
    box-sizing: border-box;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-row-gap: 0;
    grid-column-gap: 0;
}

.row {
    grid-column: -1/1;
}

.cols-4 {
    grid-column-end: span 4;
}

.cols-8 {
    grid-column: span 8;
}

.cols-16 {
    grid-column: span 16;
}

.line {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    grid-area: 1 / 1 / 1 / 1;
}