//Переменные:
$font-family: "Manrope", sans-serif;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);

$color-bg: #272a2f;
$color-gray: #c8c8c8;
$color-white: #ffffff;
$color-accent: #e45b5b;
$color-accent-text: #4c0000;
$color-accent-bg: #753536;
$color-cert-badge: #969696;
$color-gray-bg: #3D3F44;
$color-dark-gray-bg: #4E5054;

$bp-xxl: 1440px;
$bp-xl: 1280px;
$bp-lg: 1024px;
$bp-md: 768px;
$bp-sm: 480px;
