@use "../utils/grid" as grid;
@use "../utils/mixin" as mixin;
@use "../utils/variables" as var;

.modules-style {
    .hero {
        &__content {
            justify-content: center;
            gap: 78px;
            padding: clamp(1.5rem, 0.85rem + 2.7735vw, 2.625rem);

            @media(max-width: 1104px) {
                order: 2;
            }
        }

        &__content, &__image {
            @media(max-width: 1104px) {
                grid-column: 1/-1;
            }
        }
        
        &__text, &__modules-info {
            display: flex;
            gap: 32px;
            flex-direction: column;
        }

        &__modules-info {
            gap: 48px;

        }

        &__image {
            img {
                height: auto;
            }
        }

        .font-main {
            @include mixin.text-style(clamp(1rem, 1.25vw, 1.5rem), 160%, 400);
        }

        .font-large {
             @include mixin.text-style(clamp(2rem, 1.6319rem + 2.6374vw, 6rem), 112%, 700);
        }
    }
    .accordion {
        &__image, &__content {
            border: 1px solid var(--line-style);
        }
        
        &__image {
            background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 2px, transparent 2px);
            background-size: 24px 24px;
            position: relative;
            overflow: hidden;
            border: 1px solid var(--line-style);
            
            @media(max-width: 1168px) {
                order: -1;
                grid-column: -1/1;
                height: 520px;
            }
        }

         &__slider {
            position: relative;
            width: 100%;
            height: 100%;
        }
        
        &__slides {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        &__slide {
            position: absolute;
            width: 80%;
            height: auto;
            opacity: 0;
            transition: opacity 0.6s ease;
            
            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                object-fit: contain; /* Сохраняет пропорции */
            }
            
            &.active {
            opacity: 1;
            z-index: 1;
            }
        }

        &__content {
            padding: clamp(1.5rem, 0.85rem + 2.7735vw, 2.625rem);
            
            @media(max-width: 1168px) {
                grid-column: -1/1;
            }
        }

        &__content, &__collaps-box, &__collaps-wrapper {
            display: flex;
            flex-direction: column;
            gap: 64px;
        }

        &__collaps-box {
            gap: 48px;
        }

        &__collaps-wrapper, &__collaps-header {
            gap: 24px;
        }

        &__collaps-wrapper {
            transition: opacity 0.6s;
            opacity: 0.5;
            
            &:hover {
                opacity: 1;
            }

            &.open {
                opacity: 1;
            }

        }

        &__collaps-header {
            display: flex;
            align-items: center;

            svg {
                transform-origin: center center;
                transition: transform 0.3s ease;
                flex-shrink: 0;
                will-change: transform;
                transform: rotate(0);

                &.rotated {
                    transform: rotate(45deg);
                }
            }

            span {
                text-align: left;
                width: fit-content;
            }
        }

        &__collaps-content {
            opacity: 0;
            height: 0;
            overflow: hidden;
            transition: height 0.6s, opacity 0.8s;
            
            &.open {
                height: 500px;
                opacity: 1;
            }
        }
    }
}